.container {
  min-height: 70vh;
  background-color: black;
  color: white;
  padding: 3% 10%;
}

.topic {
  font-size: 20px;
  font-weight: 500;
  border-bottom: 2px solid blueviolet;
  margin-bottom: 5%;
}

.content {
  border: 2px solid green;
  min-height: 50vh;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 5% 10%;
}
.buttons button {
  font-size: 14px;
  color: white;
  border: none;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 15px;
  transition: all 0.3s ease;
}

.content{
  padding: 10px;
}

.navigate {
  background-color: blueviolet;
}

.navigate:hover {
  transform: scale(1.05);
  background-color: rgb(131, 26, 229);
}

.completeButton {
  background-color: blueviolet;
  display: flex;
  gap: 10px;
  align-items: center;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease;
}

.completed {
  background-color: green;
  transform: scale(1.1);
}
