.container {
  min-height: 70vh;
  background-color: black;
  color: white;
  padding: 3% 10%;
}

.topic {
  font-size: 20px;
  font-weight: 500;
  border-bottom: 2px solid blueviolet;
  margin-bottom: 5%;
}

.content {
  border: 2px solid green;
  min-height: 50vh;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 5% 10%;
}
.buttons button {
  font-size: 14px;
  background-color: green;
  color: white;
  border: none;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 15px;
}
.completeButton {
  display: flex;
  gap: 10px;
  align-items: center;
}
