.container {
  background-color: var(--tertiary);
  color: var(--primary);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  min-height: 80vh;
}

.number {
  font-size: 250px;
  font-weight: bold;
}

.text1 {
  font-size: 40px;
}

.text2 {
  font-size: 20px;
}

.redirect button {
  padding: 20px;
  cursor: pointer;
  min-width: 200px;
  border-radius: 20px;
  border: none;
  color: var(--tertiary);
  background-color: var(--primary);
  font-size: 20px;
  font-weight: 500;
}
