.formContainer {
  background-color: var(--tertiary);
  padding: 2rem;
  border-radius: 1rem;
  max-width: 600px;
  margin: 2rem auto;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  position: relative;
  font-family: "Baloo Bhaijaan 2", serif;
}

.closeBtn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: none;
  font-size: 1.2rem;
  background: transparent;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

label {
  font-weight: 600;
  color: var(--primary);
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

input[type="text"],
textarea {
  padding: 0.6rem;
  border: 2px solid var(--primary);
  border-radius: 0.5rem;
  background-color: var(--testSecondary);
  color: var(--primary);
  font-size: 1rem;
  transition: border-color 0.2s ease;
}

input[type="text"]:focus,
textarea:focus {
  outline: none;
  border-color: var(--quat);
}

.submitBtn {
  background-color: var(--primary);
  color: var(--testSecondary);
  padding: 0.8rem;
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.submitBtn:hover {
  background-color: var(--quat);
  color: var(--primary);
}
