.searchbar {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  margin-top: 3%;
  background-color: black;
  color: white;
  border-radius: 15px;
  overflow: hidden;
  padding: 8px 15px;
  width: 300px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
}

.text:focus {
  border-color: blueviolet;
  box-shadow: 0 0 5px rgba(138, 43, 226, 0.5);
}

.container {
  background-color: black;
  color: white;
  min-height: 70vh;
  padding: 3% 10%;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}
