.searchbar {
  background-color: var(--tertiary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  margin-top: 3%;
  background-color: var(--tertiary);
  color: var(--secondary);
  border-radius: 15px;
  overflow: hidden;
  padding: 8px 15px;
  width: 300px;
  border: 2px solid var(--pent);
  outline: none;
  font-size: 14px;
}

.text:focus {
  border-color: var(--pent);
  box-shadow: 0 0 5px var(--pent);
}

.container {
  background-color: var(--tertiary);
  color: var(--secondary);
  min-height: 70vh;
  padding: 3% 10%;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}
